# Verification


## Fields

| Field                                                              | Type                                                               | Required                                                           | Description                                                        |
| ------------------------------------------------------------------ | ------------------------------------------------------------------ | ------------------------------------------------------------------ | ------------------------------------------------------------------ |
| `Policy`                                                           | [Policy](../../Models/Components/Policy.md)                        | :heavy_minus_sign:                                                 | Policy to indicate if the Account needs multi-factor verification. |